.body {
  max-width: 1440px;
  margin: auto;
}

.header_content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 92px 49px 96px 51px;
}

.header_links-list {
    display: flex;
    align-items: center;
    gap: 10px 32px;
    list-style: circle;
}

.header_link {
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 4px;
  }